<div class="container mt-5"> <!--mt-5 = margin top 5 on Bootstrap-->
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <!--Two way data binding-->
            <input type="text" [(ngModel)]="taskName" (keyup.enter)="addTask()"
            class="form-control form-control-lg" placeholder="Enter a task..."> <!--Agranda el campo-->
        </div>
        <div class="col-lg-6 offset-lg-3 mt-3"> <!--Revisar bootstrap attributes-->
            <div *ngIf="taskList.length === 0" class="card p-2">
                <h6 >There are no tasks to show</h6>
            </div>
            <ul class="list-group">
                <!--*ngFor directive with indexx (optional)-->
                <li *ngFor="let task of taskList; let i = index" class="list-group-item d-flex justify-content-between">
                    <span class="cursor" (click)="updateTask(task,i)">
                        <!--Other way for adding class on Angular: [class.text-success]="task.state"-->
                        <i [class.text-success]="task.state" [ngClass]="task.state ? 'fas fa-check-circle' : 'far fa-circle' "></i>
                        <!--
                            <i class="fas fa-check-circle"></i>
                            <i class="far fa-circle"></i>
                        -->
                    </span>
                    {{ task.name }}
                    <span class="cursor text-danger" (click)="deleteTask(i)">
                        <i class="far fa-trash-alt"></i>
                    </span>
                </li>
                
            </ul>
        </div>
    </div>
</div>
